{% extends "layout.html" %}
{% block content %}
<!-- return search cards here -->
<div class="container-fluid results null-search"style="background:url(../static/img/search-splash.jpg); background-size:cover;">
    <div class="row">
          <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-8 col-md-8 col-sm-8 search-card null-search" style="background:#eee;">
              <h1>Search for Movies and TV Shows</h1>
            </div>

            <div class="col-lg-1 col- md-1"></div>
    </div>
</div> <!-- end results -->

{% endblock %}